src/main/mule/implementations/register-covid-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="post:\cases:application\json:uhub-sapi-config">
		<set-variable value='#[attributes.headers."x-correlation-id" default ""]' doc:name="Set Correlation ID" doc:id="d2328c8f-31c6-4758-830b-e8b3a15971b9" variableName="correlationID"/>
		<logger level="INFO" doc:name="Start Log" doc:id="5ca9edbd-5f8b-4f97-91d6-bc6e88ae5d76" message='transactionID: #[vars.transactionID], correlationID: #[vars.correlationID], message: "Start register covid case flow", payload: #[payload]&#10;payload: #[payload]'/>
		<ee:transform doc:name="Prepare Covid Case Payload" doc:id="e319f9b9-61af-45d2-bbe0-62447d427e74" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	
	source: payload.source,
	caseType: payload.caseType,
	firstName: payload.firstName,
	lastName: payload.lastName,
	phone: payload.phone,
	email: payload.email,
	dateOfBirth: payload.dateOfBirth as String {format: "yyyy-MM-dd"},
	nationalID: payload.nationalID,
	nationalIDType: payload.nationalIDType,
	streetAddress: payload.address.streetAddress,
	city: payload.address.city,
	state: upper(payload.address.state),
	postal: payload.address.postal,
	country: payload.address.country,
	create_date: now() as String {format: "yyyy-MM-dd" },
	updated_date: now() as String {format: "yyyy-MM-dd"},
	created_by: "UHIS",
	ubdated_by: "UHIS"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="Insert Covid Case Sub Flow" doc:id="61b62279-e2bc-436c-afe2-5528ca605b77" name="insert-covid-case-sub-flow"/>
		<ee:transform doc:name="Prepare Response">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  caseID: payload[0].CASE_ID as String
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
